body {
    background-image: linear-gradient(to right, #0a080c, #292231, #0a080c);
    color: wheat;
    height: 100vh;
    margin: 0;
}

nav {
    width: 100%;
    height: 5rem;
    background-color: #473758;
}
nav a {
    height: inherit;
}
nav a img {
    height: inherit;
    filter: brightness(100);
    margin-left: 1em;
}

h1 {
    text-align: center;
}

.container {
    margin: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}
.video iframe {
    aspect-ratio: 16/9;
    width: 30rem;
}